<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>控制台</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!--vue-->
    <script src="../lib/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
    <script src="../lib/vue-router.js"></script>
    <script src="../lib/vuex.js"></script>
    <!--jQuery-->
    <script src="../lib/jquery-3.1.1.js"></script>
    <!--axios-->
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.js"></script>
    <!-- 引入组件库 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.1/index.js"></script>
    <!--echarts-->
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.7.0/echarts.js"></script>
    <!--g2-->
    <script src="../lib/g2.min.js"></script>
</head>
<body>
<div id="app">
    <el-container style="height: 500px; border: 1px solid #eee">
        <el-aside width="200px" style="background-color: #545c64">
            <el-menu
                    :default-openeds="[]"
                    class="el-menu-aside"
                    @select="handleSelect"
                    background-color="#545c64"
                    text-color="#fff"
                    active-text-color="#ffd04b">
                <el-menu-item index="1">
                    <template slot="title"><i class="el-icon-s-home"></i>主页</template>
                </el-menu-item>
                <el-menu-item index="2">
                    <template slot="title"><i class="el-icon-cpu"></i>我的设备</template>
                </el-menu-item>
                <el-menu-item index="3">
                    <template slot="title"><i class="el-icon-alarm-clock"></i>历史数据</template>
                </el-menu-item>
                <el-menu-item index="4">
                    <template slot="title"><i class="el-icon-edit-outline"></i>修改信息</template>
                </el-menu-item>
            </el-menu>
        </el-aside>
        <el-container>
            <el-header style="text-align: right; font-size: 16px">
                <el-dropdown @command="handleCommand">
                    <i class="el-icon-setting" style="margin-right: 15px"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item command="logout">注销</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <el-link :underline="false" v-model="name" style="color: white;">{{ name }}</el-link>
            </el-header>
            <el-main>
                <!--                主视图-->
                <div class="page-header" v-show="page_header">
                    <div>我的位置 > {{ page_name }}</div>
                </div>
                <router-view style="overflow-x: hidden;"></router-view>
            </el-main>
        </el-container>
    </el-container>
</div>


<script type="text/x-template" id="home">
    <div style="height: 80%">
        <el-row :gutter="60" class="home-row">
            <el-col :span="6" :offset="6" class="home-col">
                <div class="home-card">
                    <div class="home-card-img"><img src="../images/home-img-device.svg"></img></div>
                    <div class="home-card-text">
                        <div>{{ title1 }}</div>
                        <div>{{ devices }}</div>
                    </div>
                </div>
            </el-col>
            <el-col :span="6" class="home-col">
                <div class="home-card">
                    <div class="home-card-img"><img src="../images/home-img-sensor.svg"></img></div>
                    <div class="home-card-text">
                        <div>{{ title2 }}</div>
                        <div>{{ sensors }}</div>
                    </div>
                </div>
            </el-col>
        </el-row>
    </div>
</script>

<script type="text/x-template" id="devices">
    <div>
        <el-row :gutter="80" style="padding-top: 20px">
            <el-col :span="2" :offset="18">
                <el-button type="primary" @click="getDevices">刷新数据</el-button>
            </el-col>
            <el-col :span="2">
                <el-button type="primary" @click="addDevice">新建设备</el-button>
            </el-col>
        </el-row>
        <el-row :gutter="20" class="device-row">
            <el-col :span="6" v-for="(v, index) in devices" class="device-col" :key="index">
                <div class="device-card">
                    <div class="device-top">
                        <div class="device-card-img"><img src="../images/device-img.svg"></div>
                        <div class="device-card-text">
                            <div style="padding-top: 15px;">名称: {{ v.d_name }}</div>
                            <div style="padding-top: 15px;">描述: {{ v.des }}</div>
                            <div style="padding-top: 15px;">d_id: {{ v.d_id }}</div>
                        </div>
                    </div>
                    <div class="device-bottom">
                        <el-button type="primary" round size="small" @click="deviceInfo(v.d_id)">查看设备</el-button>
                        <el-popconfirm
                                title="确定删除吗？"
                                @onConfirm="delDevice(v.d_id)"
                        >
                            <el-button type="danger" icon="el-icon-delete" circle size="small"
                                       slot="reference"></el-button>
                        </el-popconfirm>
                    </div>
                </div>
            </el-col>
        </el-row>
        <el-dialog title="新建设备" :visible.sync="dialogFormVisible" :append-to-body="true">
            <el-form :model="ruleForm" :rules="rules"
                     hide-required-asterisk ref="addDeviceForm">
                <el-form-item label="设备名称" :label-width="formLabelWidth" prop="name">
                    <el-input v-model="ruleForm.name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="设备描述" :label-width="formLabelWidth" prop="describe">
                    <el-input v-model="ruleForm.describe" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="submitForm('addDeviceForm')">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</script>

<script type="text/x-template" id="device_info">
    <div>
        <el-row :gutter="80" style="padding-top: 20px">
            <el-col :span="1" :offset="16">
                <el-button type="primary" @click="goBack">返回</el-button>
            </el-col>
            <el-col :span="2">
                <el-button type="primary" @click="getSensors">刷新数据</el-button>
            </el-col>
            <el-col :span="2">
                <el-button type="primary" @click="addSensor">新建传感器</el-button>
            </el-col>
        </el-row>
        <el-divider></el-divider>
        <div class="sensor-device" v-for="(v, index) in device" :key="index">
            <div class="sensor-device-img"><img src="../images/device-img.svg"></div>
            <div class="sensor-device-text">
                <div style="padding-bottom: 15px;">名称: {{ v.d_name }}</div>
                <div style="padding-bottom: 15px;">描述: {{ v.des }}</div>
                <div style="padding-bottom: 15px;">d_id: {{ v.d_id }}</div>
                <div style="padding-bottom: 15px;">传感器数量: {{ v.count }} 个</div>
            </div>
        </div>
        <el-divider><i class="el-icon-mobile-phone"></i></el-divider>
        <!--显示该设备的所有传感器-->
        <el-row :gutter="20" class="sensor-row">
            <el-col :span="6" v-for="(v, index) in sensors" :key="index" class="sensor-col">
                <!--数值类传感器-->
                <div class="sensor-card" v-if="v.isData">
                    <div class="sensor-top">
                        <div class="sensor-card-img"><img src="../images/sensor-img-data.svg"></div>
                        <div class="sensor-card-text">
                            <div style="padding-bottom: 20px;">名称:{{ v.s_name }}</div>
                            <div style="padding-bottom: 20px;">s_id: {{ v.s_id }}</div>
                            <div style="padding-bottom: 20px;">数据: {{ v.s_data }}{{ v.s_mst }}</div>
                        </div>
                    </div>
                    <div class="sensor-bottom">
                        <el-popconfirm
                                title="确定删除吗？"
                                @onConfirm="delSensor(v.s_id)"
                        >
                            <el-button type="danger" icon="el-icon-delete" size="small"
                                       slot="reference"></el-button>
                        </el-popconfirm>

                    </div>
                </div>
                <!--开关类传感器-->
                <div class="sensor-card" v-else-if="!v.isData">
                    <div class="sensor-top">
                        <div class="sensor-card-img">
                            <img v-if="v.s_data == '0'" src="../images/sensor-img-switch-off.svg">
                            <img v-else-if="v.s_data == '1'" src="../images/sensor-img-switch-on.svg">
                        </div>
                        <div class="sensor-card-text">
                            <div style="padding-bottom: 20px;">名称:{{ v.s_name }}</div>
                            <div style="padding-bottom: 20px;">s_id: {{ v.s_id }}</div>
                            <div style="padding-bottom: 20px;">状态: {{ v.s_data === "1" ? '开' : '关' }}</div>
                            <div style="padding-bottom: 20px;">操作:&nbsp;&nbsp;
                                <el-button type="success" circle size="small" @click="sensorStatus(v.s_id, 'on')">开
                                </el-button>
                                <el-button type="danger" circle size="small" @click="sensorStatus(v.s_id, 'off')">关
                                </el-button>
                            </div>
                        </div>
                    </div>
                    <div class=" sensor-bottom
                                ">
                        <el-popconfirm
                                title="确定删除吗？"
                                @onConfirm="delSensor(v.s_id)"
                        >
                            <el-button type="danger" icon="el-icon-delete" size="small"
                                       slot="reference"></el-button>
                        </el-popconfirm>

                    </div>
                </div>
            </el-col>
        </el-row>
        <el-dialog title="新建传感器" :visible.sync="dialogFormVisible" :append-to-body="true">
            <el-form :model="ruleForm" :rules="rules"
                     hide-required-asterisk ref="addSensorForm">
                <el-form-item label="传感器名称" :label-width="formLabelWidth" prop="name">
                    <el-input v-model="ruleForm.name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="传感器类型" :label-width="formLabelWidth" prop="sen_type">
                    <el-select v-model="ruleForm.sen_type">
                        <el-option label="data" value="data"></el-option>
                        <el-option label="switch" value="switch"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="单位" :label-width="formLabelWidth" prop="mst">
                    <el-input v-model="ruleForm.mst" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="submitForm('addSensorForm')">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</script>

<script type="text/x-template" id="his_data">
    <div style="height: 88%;">
        <div class="radio">
            <div style="padding-top: 6px; margin-right: 30px">选择设备号:</div>
            <el-radio-group v-model="radio" size="medium" v-for="v in this.d_id" @change="getHistory">
                <el-radio-button :label="v"></el-radio-button>
            </el-radio-group>
        </div>
        <div class="history">
            <el-table
                    :data="tableData.filter(data => !search || data.s_name.toLowerCase().includes(search.toLowerCase()))"
                    height="100%"
                    border
                    style="width: 100%">
                <el-table-column
                        prop="d_id"
                        label="设备号"
                        width="160">
                </el-table-column>
                <el-table-column
                        prop="s_name"
                        label="传感器名称"
                        width="230">
                </el-table-column>
                <el-table-column
                        prop="s_data"
                        label="传感器数据"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="time"
                        label="上传时间"
                        width="300">
                </el-table-column>
                <el-table-column
                        align="right">
                    <template slot="header" slot-scope="scope">
                        <el-input
                                v-model="search"
                                size="mini"
                                placeholder="输入关键字搜索"/>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
</script>

<script type="text/x-template" id="modify">
    <div class="modify">
        <div class="radio1">
            <el-radio-group v-model="radio1" @change="change">
                <el-radio-button label="修改昵称"></el-radio-button>
                <el-radio-button label="修改密码"></el-radio-button>
            </el-radio-group>
        </div>
        <div class="form1" v-if="this.isName">
            <el-form status-icon :model="ruleForm1" :rules="rules1" :label-position="labelPosition"
                     hide-required-asterisk
                     ref="ruleForm1" label-width="100px" class="demo-ruleForm">
                <el-form-item label="昵称" prop="name">
                    <el-input v-model="ruleForm1.name" placeholder="请输入昵称"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm1')">提交</el-button>
                    <el-button @click="resetForm('ruleForm1')">重置</el-button>
                </el-form-item>
            </el-form>
        </div>
        <div class="form2" v-else-if="!this.isName">
            <div>
                <el-form status-icon :model="ruleForm2" :rules="rules2" label-position="right"
                         hide-required-asterisk ref="ruleForm2"
                         label-width="100px" class="demo-ruleForm">
                    <el-form-item label="原密码" prop="oldpass">
                        <el-input type="password" v-model="ruleForm2.oldpass" placeholder="请输入密码"
                                  autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="新密码" prop="newpass">
                        <el-input type="password" v-model="ruleForm2.newpass" placeholder="请输入密码"
                                  autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="确认密码" prop="newpass2">
                        <el-input type="password" v-model="ruleForm2.newpass2" placeholder="请确认密码"
                                  autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm2')">提交</el-button>
                        <el-button @click="resetForm('ruleForm2')">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</script>

<script type="module">
    import MD5 from '../lib/md5.js' // md5

    // 定义路由组件
    const Home = {
        template: '#home',
        data() {
            return {
                title1: '设备总数',
                title2: '传感器总数',
                devices: 0,
                sensors: 0,
            }
        },
        methods: {
            getData() {
                this.devices = self.sessionStorage['devices'];
                this.sensors = self.sessionStorage['sensors'];
            }
        },
        mounted() {
            setTimeout(this.getData, 300); // 刷新数据
        }
    }

    const Devices = {
        template: '#devices',
        data() {
            return {
                devices: [],
                dialogFormVisible: false,
                ruleForm: {
                    name: '',
                    describe: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                },
                rules: {
                    name: [
                        {required: true, message: '请输入设备名称', trigger: 'blur'},
                        {min: 5, max: 15, message: '长度在 5 到 15 个字符', trigger: 'blur'}
                    ],
                    describe: [
                        {required: true, message: '请输入设备描述', trigger: 'blur'},
                        {min: 5, max: 15, message: '长度在 5 到 15 个字符', trigger: 'blur'}
                    ],
                },
                formLabelWidth: '120px'
            }
        },
        methods: {
            getDevices() {
                this.devices = [];
                let u_id = self.sessionStorage.getItem("u_id");
                this.$http.post("../php/control.php", {code: 'devices', u_id: u_id},
                    {emulateJSON: true}).then(function (response) {
                    let ret = response.bodyText; // {0: {…}, 1: {…}, status: "devices", count: 2}
                    ret = JSON.parse(ret);
                    if (ret['status'] === "devices") {
                        let i = 0;
                        for (i = 0; i < ret['count']; i++) {
                            this.devices.push(ret['' + i]);
                        }
                    }
                    app.page_name = '我的设备';
                    console.log(ret);
                }, function () {
                    console.log('error');
                });
            },

            addDevice() {
                this.ruleForm.name = '';
                this.ruleForm.describe = '';
                this.dialogFormVisible = true;
            },

            // 提交表单
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.dialogFormVisible = false;
                        // this.passValue(); // 传给PHP页面
                        let d_name = this.ruleForm.name;
                        let des = this.ruleForm.describe;
                        this.passAddDevice(d_name, des);
                        console.log();
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },

            passAddDevice(d_name, des) {
                let u_id = self.sessionStorage.getItem('u_id');
                this.$http.post("../php/control.php", {code: 'addDevice', d_name: d_name, des: des, u_id: u_id},
                    {emulateJSON: true}).then(function (response) {
                    let ret = response.bodyText; // {"status":"addDeviceOk"}
                    ret = JSON.parse(ret);
                    if (ret['status'] === "addDeviceOk") {
                        app.msg_ok("设备创建成功");
                        this.getDevices();
                    }
                    console.log(ret);

                }, function () {
                    console.log('error');
                });
            },

            delDevice(d_id) {
                this.$http.post("../php/control.php", {code: 'delDevice', d_id: d_id},
                    {emulateJSON: true}).then(function (response) {
                    let ret = response.bodyText; // {"status":"addDeviceOk"}
                    ret = JSON.parse(ret);
                    if (ret['status'] === "delDeviceOk") {
                        app.msg_ok("设备删除成功");
                        this.getDevices();
                    }
                    console.log(ret);

                }, function () {
                    console.log('error');
                });
                console.log(d_id);
            },

            deviceInfo(d_id) {
                app.page_header = false;
                self.sessionStorage.setItem('d_id', d_id);
                router.push({path: '/devices/info'});
            }
        },
        created() {
            this.getDevices();
            setInterval(this.getDevices, 30000); // 每30s获取一次设备信息
        }
    }

    const DeviceInfo = {

        template: '#device_info',
        data() {
            return {
                device: [],
                sensors: [],
                dialogFormVisible: false,
                ruleForm: {
                    name: '',
                    delivery: false,
                    type: [],
                    sen_type: '',
                    mst: '',
                    resource: '',
                    desc: ''
                },
                rules: {
                    name: [
                        {required: true, message: '请输入传感器名称', trigger: 'blur'},
                        {min: 3, max: 10, message: '长度在 3 到 10 个字符', trigger: 'blur'}
                    ],
                    sen_type: [
                        {required: true, message: '请选择传感器类型', trigger: 'change'},
                    ],
                    mst: [
                        {required: true, message: '请输入单位', trigger: 'blur'},
                    ],
                },
                formLabelWidth: '120px'
            }
        },
        methods: {
            goBack() {
                app.page_header = true;
                app.page_name = '我的设备';
                router.push({path: '/devices'});
            },
            addSensor() {
                this.ruleForm.name = '';
                this.ruleForm.sen_type = '';
                this.ruleForm.mst = '';
                this.dialogFormVisible = true;
            },

            getDev() {
                this.device = [];
                let d_id = self.sessionStorage.getItem('d_id');
                this.$http.post("../php/control.php", {code: 'getDev', d_id: d_id},
                    {emulateJSON: true}).then(function (response) {
                    let ret = response.bodyText; // {"status":"getDev","0":{"u_id":"1","d_id":"1","d_name":"温度采集设备","des":"温度采集"}}
                    ret = JSON.parse(ret);
                    if (ret['status'] === "getDev") {
                        this.device.push(ret[0]);
                    }
                    console.log(ret);
                }, function () {
                    console.log('error');
                });
            },

            // 提交表单
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.dialogFormVisible = false;
                        // this.passValue(); // 传给PHP页面
                        let s_name = this.ruleForm.name;
                        let s_type = this.ruleForm.sen_type;
                        let s_mst = this.ruleForm.mst;
                        this.passAddSensor(s_name, s_type, s_mst);
                        console.log('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },

            passAddSensor(s_name, s_type, s_mst) {
                let d_id = self.sessionStorage.getItem('d_id');
                this.$http.post("../php/control.php", {
                        code: 'addSensor',
                        s_name: s_name,
                        s_type: s_type,
                        s_mst: s_mst,
                        d_id: d_id
                    },
                    {emulateJSON: true}).then(function (response) {
                    let ret = response.bodyText; // {"status":"addSensorOk"}
                    ret = JSON.parse(ret);
                    if (ret['status'] === "addSensorOk") {
                        app.msg_ok("传感器创建成功");
                        this.getDev();
                        this.getSensors();
                    }
                    console.log(ret);

                }, function () {
                    console.log('error');
                });
            },

            getSensors() {
                this.sensors = [];
                let d_id = self.sessionStorage.getItem("d_id");
                this.$http.post("../php/control.php", {code: 'getSensors', d_id: d_id},
                    {emulateJSON: true}).then(function (response) {
                    let ret = response.bodyText;
                    ret = JSON.parse(ret);
                    if (ret['status'] === "getSensors") {
                        let i = 0;
                        for (i = 0; i < ret['count']; i++) {
                            // 开关类传感器在前
                            if (!ret[i]['isData']) {
                                this.sensors.push(ret[i]);
                            }
                        }
                        for (i = 0; i < ret['count']; i++) {
                            if (ret[i]['isData']) {
                                this.sensors.push(ret[i]);
                            }
                        }
                    }
                    console.log(ret);
                }, function () {
                    console.log('error');
                });
            },

            delSensor(s_id) {
                this.$http.post("../php/control.php", {code: 'delSensor', s_id: s_id},
                    {emulateJSON: true}).then(function (response) {
                    let ret = response.bodyText;
                    ret = JSON.parse(ret);
                    if (ret['status'] === "delSensorOk") {
                        app.msg_ok("传感器删除成功");
                        this.getDev();
                        this.getSensors();
                    }
                    console.log(ret);

                }, function () {
                    console.log('error');
                });
                console.log(d_id);
            },

            sensorStatus(s_id, state) {
                let s_cmd;
                if (state === "on")
                    s_cmd = 1;
                else
                    s_cmd = 0;
                this.$http.post("../php/sensor.php", {code: 'updateSensor', s_id: s_id, s_cmd: s_cmd},
                    {emulateJSON: true}).then(function (response) {
                    let ret = response.bodyText;
                    ret = JSON.parse(ret);
                    if (ret['status'] === "updateSensorOk") {
                        if (state === "on")
                            app.msg_ok("开启");
                        else
                            app.msg_ok("关闭");
                    }
                    this.getSensors();
                    console.log(ret);

                }, function () {
                    console.log('error');
                });
            }
        },
        created() {
            this.getDev();
            this.getSensors();
            setInterval(this.getSensors, 30000); // 每30s获取一次设备信息
        }

    }

    const His_data = {
        template: '#his_data',
        data() {
            return {
                tableData: [],
                d_id: [],
                radio: '',
                search: ''
            }
        },
        methods: {
            getHistory(d_id) {
                this.tableData = [];
                this.$http.post("../php/control.php", {code: 'getHistory', d_id: d_id},
                    {emulateJSON: true}).then(function (response) {
                    let ret = response.bodyText;
                    ret = JSON.parse(ret);
                    if (ret['status'] === "getHistoryOk") {
                        let i = 0;
                        for (i = 0; i < ret['count']; i++) {
                            this.tableData.push(ret[i]);
                        }
                    }
                    console.log(ret);
                    console.log('table', this.tableData);
                }, function () {
                    console.log('error');
                });
            },

            getD_id() {
                this.d_id = [];
                let u_id = self.sessionStorage.getItem('u_id');
                this.$http.post("../php/control.php", {code: 'getD_id', u_id: u_id},
                    {emulateJSON: true}).then(function (response) {
                    let ret = response.bodyText; // {"status":"getD_idOk","0":"1","1":"3","count":2}
                    ret = JSON.parse(ret);
                    if (ret['status'] === "getD_idOk") {
                        for (let i = 0; i < ret['count']; i++) {
                            this.d_id.push(ret[i]);
                        }
                    }
                    console.log(ret);
                }, function () {
                    console.log('error');
                });
            }
        },
        mounted() {
            this.getD_id();
            setTimeout(() => {
                let d_id = this.d_id[0];
                this.radio = d_id;
                this.getHistory(d_id);
            }, 300);
        }
    }

    const Modify = {
        template: '#modify',
        data() {
            var validateOldPass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入原密码'));
                } else {
                    callback();
                }
            };
            var validateNewPass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入新密码'));
                } else {
                    if (this.ruleForm2.newpass2 !== '') {
                        this.$refs.ruleForm2.validateField('newpass2');
                    }
                    callback();
                }
            };
            var validateNewPass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入新密码'));
                } else if (value !== this.ruleForm2.newpass) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            return {
                radio1: '修改昵称',
                isName: true,
                // 表单规则
                ruleForm1: {
                    name: '',
                },
                rules1: {
                    name: [
                        {required: true, message: '请输入昵称', trigger: 'blur'},
                        {min: 2, max: 5, message: '长度在 2 到 5 个字符', trigger: 'blur'}
                    ]
                },
                ruleForm2: {
                    oldpass: '',
                    newpass: '',
                    newpass2: '',
                },
                rules2: {
                    oldpass: [
                        {validator: validateOldPass, trigger: 'blur'}
                    ],
                    newpass: [
                        {validator: validateNewPass, trigger: 'blur'}
                    ],
                    newpass2: [
                        {validator: validateNewPass2, trigger: 'blur'}
                    ]
                },
                labelPosition: 'top',
            }
        },
        methods: {
            change(value) {
                if (value === '修改昵称') {
                    this.isName = true;
                } else {
                    this.isName = false;
                }
            },
            // 提交表单
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        if (formName === 'ruleForm1') {
                            this.modName();
                        } else {
                            this.modPass();
                        }
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },

            // 清空表单
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },

            modName() {
                let name = this.ruleForm1.name;
                let u_id = self.sessionStorage.getItem('u_id');
                this.$http.post("../php/control.php", {code: 'modName', name: name, u_id: u_id},
                    {emulateJSON: true}).then(function (response) {
                    let ret = response.bodyText;
                    ret = JSON.parse(ret);
                    let str = '';
                    if (ret['status'] === 'modNameOk') {
                        str = '昵称修改成功';
                        this.msg_ok(str);
                        app.name = name;
                    }
                    console.log(ret);

                }, function () {
                    console.log('error');
                });
            },

            modPass() {
                let oldPass = this.ruleForm2.oldpass;
                let newPass = this.ruleForm2.newpass2;
                oldPass = MD5.MD5(oldPass);
                newPass = MD5.MD5(newPass);
                let u_id = self.sessionStorage.getItem('u_id');
                this.$http.post("../php/control.php", {code: 'modPass', u_id: u_id, oldPass: oldPass, newPass: newPass},
                    {emulateJSON: true}).then(function (response) {
                    let ret = response.bodyText;
                    ret = JSON.parse(ret);
                    let str = '';
                    if (ret['status'] === 'modPassOk') {
                        str = '密码修改成功';
                        this.msg_ok(str);
                    } else {
                        str = '原密码有误';
                        this.msg_err(str);
                    }
                    console.log(ret);

                }, function () {
                    console.log('error');
                });
            },

            // 成功消息
            msg_ok(msg) {
                this.$message({
                    showClose: true,
                    message: msg,
                    type: 'success',
                    offset: '50'
                });
            },

            // 失败消息
            msg_err(msg) {
                this.$message({
                    showClose: true,
                    message: msg,
                    type: 'error',
                    offset: '50'
                });
            },
        }
    }

    // 定义路由
    const routes = [
        {path: '/', component: Home},
        {path: '/devices', component: Devices},
        {path: '/devices/info', component: DeviceInfo},
        {path: '/his_data', component: His_data},
        {path: '/modify', component: Modify},
    ]

    // 创建router实例
    const router = new VueRouter({
        routes
    })

    // 处理重复访问同一路由的报错问题，重写push方法
    const routerPush = VueRouter.prototype.push
    VueRouter.prototype.push = function push(location) {
        return routerPush.call(this, location).catch(error => error)
    }

    let app = new Vue({
        el: '#app',
        router,
        data: {
            page_header: true,
            page_name: '主页',
            u_id: '',
            email: '',
            name: '',
        },
        methods: {
            // 标签栏
            handleSelect(key) {
                console.log(key);
                switch (key) {
                    case "1":
                        // 主页
                        console.log("主页");
                        this.page_header = true;
                        this.page_name = "主页";
                        router.push({path: '/'});
                        this.getDevicesAndSensorsNum();
                        break;
                    case "2":
                        // 我的设备
                        console.log("我的设备");
                        this.page_header = true;
                        this.page_name = "我的设备";
                        router.push({path: '/devices'});
                        console.log(self.sessionStorage);
                        break;
                    case "3":
                        // 历史数据
                        console.log("历史数据");
                        this.page_header = true;
                        this.page_name = "历史数据";
                        router.push({path: '/his_data'});
                        break;
                    case "4":
                        // 修改信息
                        console.log("修改信息");
                        this.page_header = true;
                        this.page_name = "修改信息";
                        router.push({path: '/modify'});
                        break;
                }
            },

            // 给PHP页面传值
            passValue() {
                this.$http.post("../php/control.php",
                    {emulateJSON: true}).then(function (response) {
                    let ret = response.bodyText; // {code: 1, email: 1, passwd: 1}
                    ret = JSON.parse(ret);
                    let str = '';
                    if (ret['code'] === 1) {
                        if (ret['email'] === 1)
                            str = '账号不存在！';
                        if (ret['passwd'] === 1)
                            str = '密码错误！';
                        this.msg_err(str);
                    } else {
                        this.scrollTop();
                        str = '登录成功！';
                        this.msg_ok(str);
                        // 3s之后跳转
                        window.setTimeout(
                            function () {
                                window.location.href = './control.html?email=' + email;
                            }, 1000);
                    }
                    console.log(ret);

                }, function () {
                    console.log('error');
                });
            },

            // 获取session
            getSession() {
                this.$http.post("../php/control.php", {code: 'session'},
                    {emulateJSON: true}).then(function (response) {
                    let ret = response.bodyText; // {status: "nologin", u_id: "", email: "", name: ""}
                    ret = JSON.parse(ret);
                    if (ret['status'] === "nologin") {
                        window.location.href = './login.html';
                        this.msg_err("请先登录");
                    } else {
                        this.u_id = ret['u_id'];
                        this.email = ret['email'];
                        this.name = ret['name'];
                        self.sessionStorage.setItem('u_id', ret['u_id']);
                        self.sessionStorage.setItem('email', ret['email']);
                        self.sessionStorage.setItem('name', ret['name']);
                    }
                    console.log(ret);

                }, function () {
                    console.log('error');
                });
            },

            // 获取设备及传感器个数
            getDevicesAndSensorsNum() {
                let id = this.u_id;
                this.$http.post("../php/control.php", {code: 'deviceAndSensor', u_id: id},
                    {emulateJSON: true}).then(function (response) {
                    let ret = response.bodyText; // {"status":"deviceAndSensor","devices":2,"sensors":2}
                    ret = JSON.parse(ret);
                    if (ret['status'] === "deviceAndSensor") {
                        self.sessionStorage.setItem('devices', ret['devices']);
                        self.sessionStorage.setItem('sensors', ret['sensors']);
                    }
                    console.log(ret);

                }, function () {
                    console.log('error');
                });
            },

            // 成功消息
            msg_ok(msg) {
                this.$message({
                    showClose: true,
                    message: msg,
                    type: 'success',
                    offset: '50'
                });
            },

            // 失败消息
            msg_err(msg) {
                this.$message({
                    showClose: true,
                    message: msg,
                    type: 'error',
                    offset: '50'
                });
            },

            // 返回顶部
            scrollTop() {
                if ((document.body.scrollTop || document.documentElement.scrollTop) !== 0) {
                    document.body.scrollTop = document.documentElement.scrollTop = 0;
                }
            },

            // 顶部下拉菜单
            handleCommand(command) {
                switch (command) {
                    case 'show':
                        console.log('show');
                        break;
                    case 'add':
                        console.log('add');
                        break;
                    case 'logout':
                        console.log('logout');
                        this.$confirm('您真的要注销吗?', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            this.$message({
                                type: 'success',
                                message: '注销成功!'
                            });
                            this.logout();
                        }).catch(() => {
                            this.$message({
                                type: 'info',
                                message: '已取消'
                            });
                        });
                        break;
                }
            },

            logout() {
                console.log(this.email);
                this.$http.post("../php/control.php", {code: 'logout'},
                    {emulateJSON: true}).then(function (response) {
                    let ret = response.bodyText; // {status: "logout"}
                    ret = JSON.parse(ret);
                    if (ret['status'] === "logoutOk") {
                        window.location.href = './login.html';
                    }
                    console.log(ret);

                }, function () {
                    console.log('error');
                });
            },
        },

        created() {
            this.getSession();

            // 已经登录 获取设备及传感器数量
            setTimeout(this.getDevicesAndSensorsNum, 300);
        }

    });

</script>
</body>
<style>
    * {
        padding: 0;
        margin: 0;
    }

    html, body {
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    /*body {*/
    /*    overflow: -Scroll;*/
    /*    overflow-x: hidden*/
    /*}*/

    #app {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
        overflow: hidden;
        transform: scale(1.0);
        z-index: -10;
    }

    .el-header {
        background-color: #545c64;
        color: #fff;
        line-height: 60px;
    }

    .el-icon-setting {
        color: #fff;
    }

    .el-main {
        background-color: #f9fafc;
        padding: 0;
    }

    .home-row {
        height: 80px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .home-col {
        border-radius: 4px;
        height: 100%;
    }

    .home-card {
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        min-height: 36px;
        height: 100%;
        background-color: white;
        padding: 20px 20px;
        display: -webkit-flex;
        display: flex;
        justify-content: space-around;

    }

    .home-card-img {
        height: 80px;
        width: 80px;
    }

    .home-card-text {
        padding: 20px;
        margin: 0 auto;
        text-align: center;
    }

    .page-header {
        height: 45px;
        background-color: white;
        padding-top: 20px;
        padding-left: 30px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
    }

    .device-row {
        height: 180px;
        margin: 0 auto;
    }

    .device-col {
        height: 100%;
        margin: 30px;
        width: 325px;
    }

    .device-card {
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        height: 100%;
        width: 100%;
        margin: 0 20px;
        padding-top: 20px;
        padding-left: 20px;

    }

    .device-top {
        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
    }

    .device-bottom {
        margin: 10px auto;
        padding-left: 15px;
    }

    .device-card-img {
        height: 130px;
        width: 130px;
    }

    .device-card-text {
        height: 130px;
        width: 150px;
        text-align: left;
    }

    .sensor-device {
        height: 150px;
        width: 400px;
        margin: 20px auto;
        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }

    .sensor-row {
        height: 180px;
        margin: 0 auto;
    }

    .sensor-col {
        height: 100%;
        margin: 30px;
        width: 325px;
    }

    .sensor-card {
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        height: 100%;
        width: 100%;
        margin: 0 20px;
        padding-top: 20px;
        padding-left: 20px;

    }

    .sensor-top {
        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
    }

    .sensor-bottom {
        margin: 10px auto;
        padding-left: 48px;
    }

    .sensor-card-img {
        height: 130px;
        width: 130px;
    }

    .sensor-card-text {
        height: 130px;
        width: 150px;
        text-align: left;
    }

    .el-divider__text {
        background-color: #f9fafc;
    }

    .history {
        overflow-y: auto;
        overflow-x: auto;
        height: 85%;
    }

    .radio {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
        display: -webkit-flex;
        display: flex;
    }

    .modify {
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        height: 70%;
        width: 60%;
        background-color: white;
        margin: 50px auto;
    }

    .radio1 {
        width: 28%;
        margin: 30px auto;
    }

    .form1 {
        width: 50%;
        margin: 0 auto;
    }

    .form2 {
        width: 50%;
        margin: 0 auto;
    }

</style>
</html>